// Custom Margin Padding
.section-padding-both {
    padding: 120px 0;
}
.section-padding-top {
    padding-top: 120px;
}
.section-padding-bottom {
    padding-bottom: 120px;
}

.margin-both-50 {
    margin: 50px 0;
}
.margin-both-40 {
    margin: 40px 0;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-both-30 {
    margin: 30px 0;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

// Section Title 
.section-title {
    margin-bottom: 70px;
    text-align: center;
}

// Section Button
.section-button {
    text-align: center;
}

// Input Style
.input-shape {
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid $border-color;
}

// Item Box Style 01
.item-box-style-01 {
    width: 100%;
    padding: 50px 30px 40px;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    transition: $transition;
    background-color: $white-soft-color;
    .box-01-image {
        i {
            &:before {
                font-size: 65px;
                margin: 0;
                display: block;
                color: $primary-color;
                transition: $transition;
            }
        }
    }
    .box-01-title {
        margin-bottom: 15px;
    }
    h4, p {
        transition: $transition;
    }
}
.item-box-style-01.active {
    background: $secondary-color;
    border: 1px solid transparent;
    box-shadow: 0px 10px 12px $border-color;
    .box-01-image {
        i {
            &:before {
                color: $white-color;
            }
        }
    }
    .template-small-button {
        color: $white-color;
        background: $primary-color;
        border: 1px solid transparent;
        box-shadow: 0 10px 10px #ED517333;
    }
    h4, p {
        color: $white-color;
    }
}

// Item Box Style 02
.item-box-style-02 {
    background: $white-soft-color;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: $transition;
    .box-02-image {
        width: 100%;
        height: 240px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            transition: $transition;
        }
    }
    .box-02-content {
        padding: 0 0 40px;
        .box-02-shape {
            background-color: #F7C42B;
            width: 120px;
            height: 80px;
            position: relative;
            top: -80px;
        }

        .span-color {
            color: $primary-color;
        }
        .box-02-shape-text {
            color: $white-color;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            .big-span {
                color: $paragraph-color;
                font-size: 30px;
                font-weight: 700;
                display: block;
                line-height: 30px;
            }
            .small-span {
                color: $paragraph-color;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        p {
            width: 80%;
            margin: auto;
        }
        h5 {
            margin-top: -40px;
        }
    }
    .template-large-button {
        color: $paragraph-color;
        background: transparent;
        border: 1px solid $paragraph-color;
    }
    span.dashed-style {
        width: 80%;
        border-top: 1px dashed $paragraph-color;
        margin: 15px auto;
    }
}
.item-box-style-02.active {
    box-shadow: 0 10px 15px #ED517333;
    .box-02-image {
        img {
            transform: rotate(5deg) scale(1.2); 
        }
    }
    .template-large-button {
        color: $white-color;
        background: $primary-color;
        border: 1px solid transparent;
        box-shadow: 0 10px 10px #ED517333;
    }
}

// Item Box Style 03
.item-box-style-03 {
    position: relative;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: $transition;
    .box-03-image {
        width: 100%;
        height: 280px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            transition: $transition;
        }
    }
    .hover-state {
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        a {
            color: $primary-color;
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 60px;
            height: 60px;
            background-color: $white-color;
            border-radius: 50%;
            line-height: 60px;
            opacity: 0;
            visibility: hidden;
            transition: $transition-long;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width :100%;
            height: 100%;
            background: rgba(114, 212, 254, .3);
        }
    }
}
.item-box-style-03.active {
    .hover-state {
        opacity: 1;
        visibility: visible;
        a {
            top: 50%;
            opacity: 1;
            visibility: visible; 
        }
    }
    .box-03-image {
        img {
            transform: rotate(5deg) scale(1.2);
        }
    }
}

// Item Box Style 04
.item-box-style-04 {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: $transition;
    .box-04-image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            transition: $transition;
        }
    }
    .hover-state {
        background-color: rgba(255,255,255,.8);
        padding: 20px 30px;
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            background-color: $primary-color;
        }
        h5 {
            color: $primary-color;
        }
        span {
            text-transform: capitalize;
        }
        .icon-box {
            .flaticon-mail-send {
                &:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $white-color;
                    font-size: 45px;
                    padding: 15px 35px;
                }
            }
        }
    }
}
.item-box-style-04.active {
    .box-04-image {
        img {
            transform: scale(1.1);
        }
    }
    .hover-state {
        bottom: 20px;
        opacity: 1;
        visibility: visible; 
    }
}

// Single Counter Item
.single-counter-item {
    text-align: center;
    img {
        width: auto;
        height: 80px;
        display: block;
        margin: auto;
    }
    .single-counter-number {
        color: $white-color;
        font-size: 50px;
        font-family: $primary-font;
        font-weight: 700;
        line-height: 90px;
    }
    h5 {
        color: $white-color;
    }
}

// Social Link style
.social-link-style {
    ul {
        float: right;
        li {
            display: inline;
            margin-left: 40px;
            a {
                color: $paragraph-color;
                transition: all 0.2s ease-in;
                text-transform: capitalize;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

// Social Link Rotate Style
.social-link-rotate-style {
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    ul {
        li {
            display: inline;
            margin: 0 20px;
            a {
                color: #123040C2;
                text-transform: capitalize;
                transition: all 0.1s ease-in;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 2px;
                    bottom: -8px;
                    width: 70%;
                    border-top: 2px dotted #123040C2;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        .active {
            a {
                &:after {
                    bottom: -4px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// Signin Signup Popup
.signin-signup-popup {
    position: fixed;
    z-index: 999;
    width: 30%;
    height: 100%;
    left: -100%;
    top:0;
    background-color: $white-color;
    transition: $transition-long;
    &.active{
        left: 0;
    }

    .signin-signup-part {
        background-color: $white-color;
        padding: 0 100px;
        height: 100%;
        position: relative;
        top: 20%;
    }

    .form-popup-bottom {
        margin-top: 30px;
        .when-click-change {
            color: $secondary-color;
            cursor: pointer;
        }
    }

    .forget-password-link {
        color: #4A4857;
        float: right;
    }

    .cross-icon {
        position: absolute;
        top: 50px;
        right: 50px;
        color: $primary-color;
        font-size: 20px;
        cursor: pointer;
    }

    button {
        width: 100%;
    }

    .when-click-change-signin,
    .when-click-change-signup {
        color: $secondary-color;
        cursor: pointer;
    }

    .part-active {
        display: block;
    }
    .part-hide {
        display: none;
    }

    .template-large-button {
        color: $white-color;
        background-color: $primary-color;
        border: 1px solid transparent;
    }
}

// Dashed Style
span.dashed-style {
    display: block;
    width: 20%;
    height: 1px;
    border-top: 2px dashed $secondary-color;
    margin: 10px auto 20px;
}

// Pagination Style
.pagination-area {
    text-align: center;
    margin-top: 50px;
    ul {
        li {
            display: inline;
            margin: 0 5px;
        }
        .pagination-name {
            span {
                color: $heading-color;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .pagination-arrow {
            span {
                color: $heading-color;
                font-size: 18px;
                background-color: #DBDADD;
                padding: 5px;
                height: 30px;
                width: 30px;
                display: inline-block;
                line-height: 22px;
                transition: all .2s ease-in;
                cursor: pointer;
                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
        .pagination-number {
            span {
                color: $heading-color;
                font-size: 16px;
                background-color: #DBDADD;
                padding: 5px;
                height: 30px;
                width: 30px;
                display: inline-block;
                transition: all .2s ease-in;
                cursor: pointer;
                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                }                    
            }
            .active {
                color: $white-color;
                background-color: $primary-color;
            }
        }
    }
}

// Animation 
.item-bounce {    
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out;
}
@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

.item-zooming {    
    -webkit-animation: zooming 3s infinite ease-in-out;
    -o-animation: zooming 3s infinite ease-in-out;
    -ms-animation: zooming 3s infinite ease-in-out; 
    -moz-animation: zooming 3s infinite ease-in-out; 
    animation: zooming 3s infinite ease-in-out;
}
@keyframes zooming {
    0% { transform: scale(1)  }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
}

.item-zoomout {    
    -webkit-animation: zoomout 3s infinite ease-in-out;
    -o-animation: zoomout 3s infinite ease-in-out;
    -ms-animation: zoomout 3s infinite ease-in-out; 
    -moz-animation: zoomout 3s infinite ease-in-out; 
    animation: zoomout 3s infinite ease-in-out;
}
@keyframes zoomout {
    0% { transform: scale(1)  }
    50% { transform: scale(0.9) }
    100% { transform: scale(1) }
}

// Custom Container
@media (min-width: 1400px) { 
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1600px) { 
    .container {
        max-width: 1480px;
    }
}
@media (min-width: 1760px) { 
    .container {
        max-width: 1640px;
    }
}