/* Gallery */
.gallery-area {
    .gallery-item-01,
    .gallery-item-02,
    .gallery-item-03,
    .gallery-item-04 {
        margin-bottom: 30px;
    }
}

.home-02-gallery-area {
    overflow: hidden;
    .gallery-item-01,
    .gallery-item-02,
    .gallery-item-03,
    .gallery-item-04 {
        margin-bottom: 0;
    }
    .item-box-style-03 {
        border-radius: 0;
        .box-03-image {
            height: 350px;
        }
    }
}