/* Admission Page */
.admission-section {
    .form-style-01 {
        box-shadow: 0 0 10px 0 #f1f1f1;
    }
    .form-style-02 {
        .template-large-button {
            color: $white-color;
            background-color: $primary-color;
            border: 1px solid transparent;
        }
    }
}